.header{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: 8px 4px 2px 1px rgba(124, 40, 255, .4);
}
.nav{
    margin-top:20px;
    box-shadow: 8px 4px 8px 4px rgba(100,150,40,0.4);
    font-size:22px;
}
.nav ul li a:hover{
    background-color:#00f;
    color:#fff;
}
.active{
    background-color:#aef;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid #3d8a9e;
    font-weight: lighter;
    font-family: sans-serif;
}
.main-heading{
    text-align:center;
}
.button{
    width: 30%;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.button:hover{
    color: #fff;
}
.comparison {
    padding:10px 10px 10px 10px;
    background-color: #ffe6ff;
}
.table{
    padding:20px 20px 20px 20px;
    box-shadow:8px 4px 8px 4px rgba(120, 84, 40, 0.4);
    background-color: #f2f3f4;
}
.comp-chart{
    padding:20px 5px 5px 5px;
    background-color:#fff;
    box-shadow:8px 4px 8px 4px rgba(120, 84, 40, 0.4);
}
#output{
    padding-top: 30px;
    text-align:center;
}
div#output ul li{
    list-style-type: none;
}
.poll-bd{
  padding-top:50px;
}
#pollution-badge{
   padding:15px 10px 15px 10px;
   font-size:30px;
}
#result{
   font-size:20px;
}
#map{
   height:100%;
}
.gmap{
   height:400px;
}
.loader {
  margin-left: 47%;
  margin-top: 280px;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*canvas{
    max-width: 500px;
    max-height: 1000px;
}
